table {
    margin-top: 10px;    /* Adjust as needed */
    margin-right: 20px;  /* Adjust as needed */
    margin-bottom: 30px; /* Adjust as needed */
    margin-left: 40px;   /* Adjust as needed */
  }

 
